<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Car Rental</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://kit.fontawesome.com/ab08b8898e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <body class="has-background-primary-dark has-text-centered grid-container">
    {% block header %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/car">
          <img src="/public/img/logolarge.jpg" alt="Rent car logo" width="112" height="28" />
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/"> Home </a>
          <a class="navbar-item"> Rent a Car </a>
          <a class="navbar-item" href="/car/add"> Create Car </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> More </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/car/manage"> Manage Car </a>
              <a class="navbar-item"> Manage User </a>
              <hr class="navbar-divider" />
              <a class="navbar-item" href="https://github.com/FacundoCastillo12/rent-car/issues/new"> Report an issue </a>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            {% block dashboard %}
            <div class="buttons">
              <a href="/user/register" class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a href="/user/login" class="button is-light"> Log in </a>
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% endblock %}
    <section class="hero">
      <div class="container menu">


      {% block container %}
      <div class="mt-4 mb-4">
        <h2 class="subtitle is-2 has-text-white">
          Rent a car at the best <strong class="has-text-danger">price</strong>!
        </h2>
      </div>
      <div class="columns is-multiline is-variable is-2-mobile is-0-tablet is-4-desktop is-8-widescreen is-1-fullhd">
        {% block menu %}
        
        {% endblock %}
      </div>
      {% endblock %}
    </div>
    </section>

    
    <footer class="footer has-background-grey-light">
      {% block footer %}
      <div class="content has-text-centered">
        <p>
          Logo imagen
          <a
            href="https://www.freepik.es/vector-gratis/logotipo-profesional-alquiler-coches_29028119.htm#query=logo%20rent%20car&position=0&from_view=search&track=scalerv1"
            >Freepik</a
          >
        </p>
      </div>
      {% endblock %}
    </footer>
    <script type="text/javascript" src="/public/js/toogle-navbar.js"></script>
  </body>
</html>
