{% extends "views/layouts/base.njk" %}
{% block container %}
<div class="columns is-centered mt-4 mb-2">
    <div class="column">
      <div class="card box has-background-info-dark has-text-white is-size-5">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/../{{car.img}}" alt="Car image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-3  has-text-white">Brand: <strong class="text-info">{{car.brand}}</strong></p>
              <p class="subtitle is-5  has-text-white">Model: <strong class="text-info">{{car.model}}</strong></p>
            </div>
          </div>
          <div class="content has-text-justified is-family-sans-serif">
            <p>Model Year: <strong class="text-info">{{car.year}}</strong></p>
            <p>Kilometers: <strong class="text-info">{{car.kms}}</strong> </p>
            <p>Color: <strong class="text-info">{{car.colour}}</strong></p>
            <p>Air conditioning: <strong class="text-info">{{car.air}}</strong></p>
            <p>Passenger capacity: <strong class="text-info">{{car.passenger}}</strong></p>
            <p>Transmission: <strong class="text-info">{{car.transmission}}</strong></p>
            <p>Rented: <strong class="text-info">Falta</strong></p>
            <p>User Rent: <strong class="text-info">Falta</strong></p>
            <p>Price: <strong class="text-info">${{car.price}}</strong></p>
            <div>
              <a href="/car/edit/{{car.id}}" class="button is-info">Edit</a>
              <a href="/car/delete/{{car.id}}" class="button is-danger">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}