{% extends "views/layouts/base.njk" %}
{% block dashboard %}
    Un if, si existe, pone el logo de dashbord. Sino, lo deja como esta
        Si aqui tiene cuenta o esta conectado. Pone el dashboard de otro
        BLoque Si existe Usuario---
        <div class="icon is-large">
          <button class="button is-light">
            <a class=" is-light fa-solid fa-user fas fa-2x"></a>
          </button>
        </div>
  {% endblock %}
{% block menu %}

{% endblock %}