{% extends "views/layouts/base.njk" %}
{% block container %}
<form class="container mt-4 " action="/user/save" method="POST" >
  <div class="box m-6 has-background-info">
    <div class="mb-2">
      {% if user %}
      <h1 class="title">Edit user with id {{user.id}} and first name:{{user.firstName}}</h1>
      {% else %}
      <h1 class="title">Register a new user</h1>
    {% endif %}

    </div>
    <div class="field">
      <label class="label">ID</label>
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="number" placeholder="ID" name="id" value="{{user.id}}" readonly>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-circle-info"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="First name" name="first-name" value="{{user.firstName}}" required>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-circle-info"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Last name" name="last-name" value="{{user.lastName}}" required>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-circle-info"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="number" placeholder="Document Number" name="doc-number" value="{{user.docNumber}}" required>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-id-card"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Address" name="address" value="{{user.address}}" required>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-location-dot"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="number" placeholder="Phone number" name="phone" value="{{user.phone}}" required>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-phone"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Email" name="email" value="{{user.email}}" required>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="date" placeholder="12-23-43" name="birthdate" value="{{user.formattedBirthdate}}" required>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-cake-candles"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <span class="select">
          <span class="icon is-small is-left">
            <i class="fa-solid fa-address-card"></i>
          </span>
          <select name="doc-type" required>
            <option value="" disabled>Document Type</option>
            <option value="CI" {{ 'selected' if user.docType === 'CI' }}>CI</option>
            <option value="DNI" {{ 'selected' if user.docType === 'DNI' }}>DNI</option>
            <option value="RG" {{ 'selected' if user.docType === 'RG' }}>RG</option>
            <option value="Passport" {{ 'selected' if user.docType === 'Passport' }}>Passport</option>
          </select>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <span class="select">
          <span class="icon is-small is-left">
            <i class="fas fa-globe"></i>
          </span>
          <select name="nationality" required>
            <option value="" disabled>Nationality</option>
            <option value="Argentina" {{ 'selected' if user.nationality === 'Argentina' }}>Argentina</option>
            <option value="Chile" {{ 'selected' if user.nationality === 'Chile' }}>Chile</option>
            <option value="Uruguay" {{ 'selected' if user.nationality === 'Uruguay' }}>Uruguay</option>
            <option value="Paraguay" {{ 'selected' if user.nationality === 'Paraguay' }}>Paraguay</option>
            <option value="Brasil" {{ 'selected' if user.nationality === 'Brasil' }}>Brasil</option>
            <option value="Bolivia" {{ 'selected' if user.nationality === 'Bolivia' }}>Bolivia</option>
          </select>
        </span>
      </p>
    </div>
    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <button type="submit" class="button is-primary">
          Submit
        </button>
      </p>
      <p class="control">
        <a href="/reservation/manage" class="button is-light">
          Cancel
        </a>
      </p>
    </div>
  </div>
  </form>
  {% endblock %}