
  {% extends "views/layouts/base.njk" %}
{% block container %}
<div class="columns is-centered is-vcentered mt-6 m-1">
  <div class="column is-full is-12">
    <form class="box">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="e.g. alex@example.com">
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="********">
        </div>
      </div>
      <div class="field">
        <button type="submit" class="button is-primary is-fullwidth">Sign in</button>
      </div>
    </form>
  </div>
  
</div>
{% endblock %}